[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
pydantic = "*"
inflect = "==4.1.0"
pyspellchecker = "==0.5.5"
elasticsearch7 = "==7.17.7"
beautifulsoup4 = "==4.9.1"
markupsafe = "==2.0.1"
uvicorn = { extras = ["standard"], version = "*" }
uvloop = "*"
jinja2 = "*"
litestar = "==2.0.0alpha6"

[dev-packages]

[requires]
python_version = "3.11"
