[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "custom"

[packages]
inflect = "==4.1.0"
pyspellchecker = "==0.5.5"
elasticsearch6 = "==6.8.2"
beautifulsoup4 = "==4.9.1"
python-multipart = "==0.0.5"
uvicorn = "==0.15.0"
fastapi = "==0.70.0"
fastcache = "==1.1.0"
aiofiles = "==0.7.0"
jinja2 = "==2.11.2"
flask = "*"
markupsafe = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
