<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <script src="static/jquery.min.js"></script>
    <script src="static/index.js"></script>
    <link href="static/index.css" rel="stylesheet" type="text/css"/>
    <link href="static/O8C.css" rel="stylesheet" type="text/css"/>
    <link href="static/hycd_3rd.css" rel="stylesheet" type="text/css">
    <link href="static/LSC4.css" rel="stylesheet" type="text/css">
    <title>Moe词典</title>
</head>
<body>
<main>
    <div id="content" style="max-width: 1200px; margin: 0 auto;">
        <div ,style="text-align:center" class="revout ids-g" id="top-area">
            <h2>Moe词典</h2>
            <div id="query-area">
                <input id="word" name="word" placeholder="支持中英文短句， 英语单词会尝试拼写纠错" type="text"/>
                <button id="lucky-btn">试试手气</button>
            </div>
        </div>
        <div class="ids-g" id="mdx-resp">
            Ctrl + L 开始搜索
        </div>
    </div>
</main>
<footer>Author &#10163 <a href="https://zhi.moe">zhi.moe</a></footer>
</body>
</html>
