<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="stylesheet" type="text/css" href="O8C.css"/>
    <link rel="stylesheet" type="text/css" href="hycd_3rd.css">
    <link rel="stylesheet" type="text/css" href="LSC4.css">
    <title>Moe词典</title>
</head>
<body>
<main>
    <div id="content" style="max-width: 1200px; margin: 0 auto;">
        <div id="top-area" class="revout ids-g" ,style="text-align:center">
            <h2>Moe词典</h2>
            <div id="query-area">
                <input type="text" name="word" id="word" placeholder="支持中英文短句， 英语单词会尝试拼写纠错"/>
                <button id="lucky-btn">试试手气</button>
            </div>
        </div>
        <div id="mdx-resp" class="ids-g">
            Ctrl + L 开始搜索
        </div>
    </div>
</main>
<footer>Author &#10163 zhi.moe</footer>
</body>
</html>
