img {
  display: block;
}

img[refid="tr0"] {
  display: none;
}

img[src*="imgs/down.gif"]
{
  display: none;
}

img[src*="imgs/hand.gif"]
{
  display: inline;
}

a[href*="file://imgs/"]
{
  display: inline-block;
}
